
<style>
  div.pointer {
    cursor: pointer;
  }

  div.med {
    margin: 10 auto;
    margin-bottom: 50px;
    justify-content: center;

  }

  @media (max-width: 812px) {
    div.card {
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

</style>


<div class="card pointer med" style="width: 250px; height: 600px;">
  <img class="card-img-top" src="{{ posterUrl }}" alt="Card image cap" [routerLink]="['/moviedetail', movie.id]">
  <div class="card-body" style="padding: 0px; padding-left: 20px; padding-right: 20px;">
    <h6 class="card-title" style="font-size: 13.5px;">{{ movie.title }} ({{movie.release_date}})</h6>
  </div>
  <div style="margin-top: 50px; margin-left: -30px; padding: 0px; margin-bottom: -30px; ">
    <circle-progress [percent]=" movie.vote_average*10" [radius]="50" showZeroOuterStroke=true backgroundPadding=2
      [outerStrokeWidth]="8" showInnerStroke=false [outerStrokeColor]="'#69db61'" [animation]="true"
      [animationDuration]="300" showBackground=true titleColor=#ffffff [showUnits]=false [innerStrokeWidth]="0"
      backgroundColor=#000000 [animationDuration]=700>
    </circle-progress>
  </div>


</div>
